# Ignorar directorios Library, Temp, Obj, Build, Builds, Logs
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/

# Ignorar paquetes

# Ignorar configuraciones del proyecto
[Pp]roject[Ss]ettings/

# Ignorar archivos y directorios en Assets, excluyendo archivos meta
![Aa]ssets/**/*.meta
[Aa]ssets/*

# Ignorar archivos README
README
readme.md
README.md
Readme

# Ignorar el directorio .idea
.idea/

# Ignorar UserSettings
UserSettings

# Ignorar Blackjack.sln
Blackjack.sln

# Ignorar Assembly-CSharp.csproj
Assembly-CSharp.csproj

# Ignorar .DS_Store
.DS_Store

.vs/Blackjack/FileContentIndex/9b2a59eb-43c9-4416-98f9-299815cd8ff8.vsidx

*.vsidx
