# Ignorar directorios Library, Temp, Obj, Build, Builds, Logs
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/

# Ignorar paquetes

# Ignorar configuraciones del proyecto
[Pp]roject[Ss]ettings/

# Ignorar archivos y directorios en Assets, excluyendo archivos meta
![Aa]ssets/**/*.meta
[Aa]ssets/*

# Ignorar archivos README
README
readme.md
README.md
Readme

# Ignorar el directorio .idea
.idea/
